<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBZ0RSzLB3MKWsBYZfRnnLyepES4l-R27I</string>
	<key>GCM_SENDER_ID</key>
	<string>1082985809440</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.draftbrandstore.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>draftbrandstore</string>
	<key>STORAGE_BUCKET</key>
	<string>draftbrandstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1082985809440:ios:eed2d29f4f3d442c36de45</string>
</dict>
</plist>